* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.table-container {
  display: flex;
}

.activities-container {
  display: flex;
  text-align: center;
}

.activities-item {
  width: 220px;
  margin-top: 10px;
}